target/
.idea/
.mvn/
out/
src/main/resources/
custom_build/
!custom_build/artifacts/

src/main/java/org/chaoticsomeone/chaosjfx/HelloApplication.java
src/main/java/org/chaoticsomeone/chaosjfx/HelloController.java

how_to_build.txt
mvnw
mvnw.cmd
